<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" type="text/css" href="../../css/dashboard.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="../../css/animate.css">
    <script src="../../js/jq-bs-bundle.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>
<body class="page bg-light d-flex flex-column h-100" onresize="change_navbar()">
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
        <div id="page-content-wrapper">
            <%- include('headerDashboard') %>
            
            <div class="container mx-auto px-3 bg-white my-2 rounded" style="height:45vw">
                <div class="row mx-0 w-100 px-3">
                    <div class="text-center shadow bg-white rounded mb-3">
                        <form action="/admin/cambiarfotoperfil" method="POST" enctype="multipart/form-data">
                            <div class="alert alert-danger my-2" id="formatoImagenInvalido" role="alert" style="display: none;">
                                <p class="m-0">Formato de Imagen invalida!</p>
                            </div>
                            <span class="sr-only" data-value="<%= usuario.foto%>" id="usuario_foto"></span>
                            <label for="image" role="button" id="profileImageChange" class="d-block">
                                <div class="avatar-bg center profile-pic mx-auto mt-4 ">
                                    <span class="fas fa-camera"></span>
                                    <span class="user-select-none">Change Image</span>
                                </div>
                            </label>
                            <input type="text" name="cedula" value="<%= usuario.cedula%>" hidden>
                            <input type="file" id="fileFoto" name="image" style="visibility: hidden;">
                            
                        </form>
                    </div>
                </div>
                <div class="row mx-0 w-100">
                    <div class="col-md-6">
                        <div class="form-group w-100">
                            <label>Nombre de Usuario</label>
                            <input class="form-control" type="text" name="fusuario" id="usuario_registro" autocomplete="off">
                            <small class="text-muted">ejemplo123</small>
                        </div>
                        <div class="form-group w-100">
                            <label>Fecha de nacimiento</label>
                            <input class="form-control" id="fecha_nacimiento_registro" type="date">
                            <small class="text-muted">Mes/Dia/Año</small>
                        </div>
                        <div class="form-group w-100">
                            <label for="message">Correo electrónico</label>
                            <input class="form-control" type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                            <small class="text-muted">e.g: ejemplo@dominio.com</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group w-100">
                            <label>Contraseña</label>
                            <div class="input-group">
                                <input type="password" minlength="8" maxlength="20" name="fcontra" class="form-control" type="password" id="clave_registro" aria-describedby="buttonClave" autocomplete="off">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button" id="buttonClave"><i class="fas fa-eye"></i></button>
                                </div>
                            </div>
                            <small class="text-muted">Esta contraseña debe de ser segura</small>
                        </div>
                        <div class="form-group w-100">
                            <label>Sexo</label>
                            <select class="form-control" id="sexo" >
                                <option value="0" selected>Seleccione...</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                            <small class="text-muted">Masculino / Femenino</small>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footerDashboard') %>
        </div>
    </div>
    <script src="../../js/admin/dashboard.js"></script>
</body>
</html>