<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021
    * Proyecto de Ingenieria en Sistemas I-III
    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="en" class="h-100">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard - Estudiantes</title>
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" href="/css/datatables.min.css">
     <link rel="stylesheet" href="/css/dashboard.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
     <link rel="stylesheet" href="/css/animate.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
     <script src="/js/jq-bs-bundle.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
 </head>
 
 <body class="page bg-light d-flex flex-column h-100">
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
        <div id="page-content-wrapper">
            <%- include('headerDashboard') %>
            <div class="container-fluid my-5">
                <span class="sr-only"><%= cedula %></span>
                <div class="row mx-0 rounded-3 position-relative" style="height: 200px;">
                    <div class="w-100 bg-white rounded-3" style="height: 130px;">
                        <svg width="100%" height="130px" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave" 
                        style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                            <defs>
                                <linearGradient id="gradient1" x1="0" x2="0" y1="0" y2="1">
                                    <stop offset="0%" stop-color="#ffffff"  />
                                    <stop offset="100%" stop-color="#3c8eec"  />
                                </linearGradient>
                            </defs>
                            <path id="feel-the-wave2" d=""/>
                            <path id="feel-the-wave3" d=""/>
                        </svg>
                    </div>
                    <div class="position-absolute shadow rounded-3" 
                    style="width: 95%;height: 85px;bottom: 30px;left: 2.5%;
                    backdrop-filter: blur(20px);background: rgba(255, 255, 255, 0.65);">
                        <div class="row mx-0 px-3">
                            <div class="col-md-6 d-flex justify-content-start">
                                <div class="py-2">
                                    <img src="/public/uploads/<%= usuario.foto%>" class="rounded-circle-2" width="70px">
                                </div>
                                <div class="pl-3 py-3">
                                    <h5 class="font-weight-bold mb-1">Ambar Sancho</h5>
                                    <h6 class="text-muted">Estudiante</h6>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footerDashboard') %>
            <script>
                $(document).ready(function () {
                    var wave2 = $('#feel-the-wave2').wavify({
                        height: 60,
                        bones: 4,
                        amplitude: 20,
                        color: '#4659E4',
                        speed: .25
                    });
                    var wave3 = $('#feel-the-wave3').wavify({
                        height: 70,
                        bones: 3,
                        amplitude: 40,
                        color: 'rgba(126, 142, 247,0.8)',//#8997f4
                        speed: .15
                    });
                });
            </script>
        </div>
    </div>
<style>
    .switch-cus {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 25px;
        margin-top: 10px !important;
    }
    .switch-cus input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider-cus {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider-cus:before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        left: 0px;
        bottom: -3px;
        background-color: #4659e4;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider-cus {
        background-color: #93a0ff;
    }

    input:focus + .slider-cus {
        box-shadow: 0 0 1px #93a0ff;
    }

    input:checked + .slider-cus:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider-cus.round-cus {
        border-radius: 34px;
    }

    .slider-cus.round-cus:before {
        border-radius: 50%;
    }
</style>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="/js/admin/estudiantes.js"></script>
</body>
</html>