<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021
    * Proyecto de Ingenieria en Sistemas I-III
    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dashboard - Estudiantes</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="../../css/animate.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <script src="../../js/jq-bs-bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
</head>

<body class="page bg-light d-flex flex-column h-100">
    <div class="modal fade" id="modalTakePic" tabindex="-1" aria-labelledby="modalTakePic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold"><i class="fas fa-camera"></i>&nbsp; Tomar Foto</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="errorTxt"></p>
                    <div class="d-block">
                        <video id="theVideo" autoplay></video>
                        <canvas id="theCanvas"></canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary mr-3" onclick="openModalToTakePhoto()"><i class="fas fa-camera"></i> Abrir Camara</button>
                    <button class="btn btn-primary mr-3" id="btnCapture"><i class="fas fa-camera"></i> Capturar</button>
                    <button class="btn btn-danger" id="btnDownloadImage"><i class="fas fa-download"></i> Descargar Imagen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold">Foto de perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-3">
                        <form action="/admin/listEstudiantes/cambiarfotoperfil" method="POST" enctype="multipart/form-data">
                            <div class="alert alert-danger my-2" id="formatoImagenInvalido" role="alert" style="display: none;">
                                <p class="m-0">Formato de Imagen invalida!</p>
                            </div>
                            <span class="sr-only" id="usuario_foto"></span>
                            <label for="image" role="button" id="profileImageChange" class="d-block">
                                <div class="avatar-bg center profile-pic mx-auto mt-4 "style="width: 450px;height: 450px;">
                                    <span class="fas fa-camera"></span>
                                    <span class="user-select-none">Cambiar Imagen</span>
                                </div>
                            </label>
                            <input type="text" name="cedula" id="cedulaHiddenCambiarFotoModal" hidden>
                            <input type="file" id="fileFoto" name="image" style="visibility: hidden;">
                            <div id="sendFileFoto">

                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="openModalCameras()"><i class="fas fa-camera"></i>&nbsp; Tomar foto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalcambiarclave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold"><i class="fas fa-ellipsis-h"></i>&nbsp; Solicitud de Cambio de clave a <span id="claveCedulaID"></span></h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/estudiantes/cambiarClave" method="post">
                        <div class="form-group mb-0">
                            <label for="cambiarclaveinput">Clave</label>
                            <input type="text" class="form-control" name="clave" id="cambiarclaveinput" value="1234">
                            <input type="text" class="form-control" name="cedula" id="cambiarclaveID" hidden>
                            <small class="text-muted">Debe cambiar la clave.</small>
                        </div>
                        <div class="modal-footer py-0 border-0">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-pen"></i>&nbsp; Cambiar Clave</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAgregarEstudiante" tabindex="-1" data-keyboard="false"
        aria-labelledby="modalAgregarEstudiante" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header px-3 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold"><i class="fas fa-plus"></i>&nbsp; Agregar Estudiante</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <div class="container-fluid">
                        <h5 class="m-0">Datos del Estudiante</h5>
                        <small class="text-muted">
                            Ingrese los datos del estudiante en los campos correspondientes
                            <span class="text-danger">todos los campos son requeridos.</span>
                        </small>
                        <form action="/admin/estudiantes/agregarEstudiantes" method="post" id="formAgregar">
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cedula</label>
                                        <input class="form-control" type="text" name="cedula_add" id="cedula_add" required autocomplete="off" />
                                    </div>
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input class="form-control" type="text" name="nombre_add" id="nombre_add" required autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label for="apellido">Apellido</label>
                                        <input class="form-control" type="text" name="apellido_add" id="apellido_add" required autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha">Fecha de Nacimiento</label>
                                        <input class="form-control" type="date" name="fechaNacimiento_add" required autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="correo">Correo</label>
                                        <input class="form-control" type="email" name="correo_add" required autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label for="nombreusuario">Nombre de Usuario</label>
                                        <input class="form-control" type="text" name="username_add" required autocomplete="off">
                                    </div>
                                    <div class="form-group w-100">
                                        <label>Sexo</label>
                                        <select class="form-control" name="sexo">
                                            <option value="0" selected>Seleccione...</option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                    </div>
                                    <div class="form-group w-100">
                                        <label>Perfil</label>
                                        <select class="form-control" name="perfil">
                                            <option value="0" selected>Seleccione...</option>
                                            <option value="Estudiante">Estudiante</option>
                                            <option value="Funcionario">Funcionario</option>
                                        </select>
                                        <small class="text-muted">Perfil que desempeña</small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer py-0 pb-2">
                    <button type="submit" class="btn btn-primary" form="formAgregar"><i class="fas fa-plus"></i>&nbsp; Agregar</button>
                </div>
            </div>
            <div class="bg-white" style="width: 400px; height: 250px; display: none;">
                <!--Aqui es para verificar que sea un administrador-->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalVerEstudiante" tabindex="-1" aria-labelledby="verModalEstudiante" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header px-3 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold">Detalles de la persona <span id="nombreTarget"></span></h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid px-0">
                        <div id="feedbackVer"></div>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Datos del estudiante
                                    </button>
                                </h2>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row mx-0 w-100">
                                        <div class="col-md-6">
                                            <span class="sr-only" id="idEstudiante"></span>
                                            <span class="sr-only" id="cedulaEstudiante"></span>
                                            <div class="form-group">
                                                <label for="v_nombre_usuario">Nombre de usuario</label>
                                                <input type="text" class="form-control" id="v_nombre_usuario">
                                            </div>
                                            <div class="form-group">
                                                <label for="v_correo">Correo</label>
                                                <input type="email" class="form-control" id="v_correo">
                                            </div>
                                            <div class="form-group">
                                                <label for="v_fec_nacimiento">Fecha de nacimiento</label>
                                                <input type="date" class="form-control" id="v_fec_nacimiento">
                                            </div>
                                            <div class="form-group">
                                                <label for="v_sexo">Sexo</label>
                                                <select id="v_sexo" class="form-control">
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Femenino">Femenino</option>
                                                    <option value="Otro">Otro</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="v_Dirección">Dirección</label>
                                                <input type="text" class="form-control" id="v_Dirección">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="v_telefono">Teléfono</label>
                                                <input type="text" class="form-control" id="v_telefono">
                                            </div>
                                            <div class="form-group">
                                                <label for="v_celular">Celular</label>
                                                <input type="text" class="form-control" id="v_celular">
                                            </div>
                                            <div class="form-group">
                                                <label for="v_carrera">Carrera o Departamento</label>
                                                <input type="text" class="form-control" id="v_carrera">
                                            </div>
                                            <div class="form-group">
                                                <label for="v_perfil">Perfil</label>
                                                <select class="form-control" id="v_perfil">
                                                    <option value="Estudiante">Estudiante</option>
                                                    <option value="Funcionario">Funcionario</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer py-1">
                                        <button type="button" class="btn btn-primary" id="Guardar-datos-estudiante" onclick="actualizarDatosEstudiante()"><i class="fas fa-pencil-alt"></i> Guardar</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Estado del estudiante
                                  </button>
                                </h2>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row mx-0 w-100">
                                        <div class="form-group w-100">
                                            <label for="estadoModalactualizar">Estado</label>
                                            <div class="input-group ">
                                                <div class="input-group-append flex-grow-1">
                                                    <select id="estadoModalactualizar" class="form-control rounded-0" name="estadoModalactualizar">
                                                        <option value="1">Activo</option>
                                                        <option value="0">Inactivo</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer py-1">
                                        <button type="button" class="btn btn-primary" id="cambiarEstadoEstudiante" onclick="cambiarEstadoEstudiante()"><i class="fas fa-pencil-alt"></i> Guardar</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Nivel del estudiante
                                  </button>
                                </h2>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    
                                    <div class="form-group w-100">
                                        <div class="input-group ">
                                            <div class="input-group-append flex-grow-1">
                                                <select id="nivelModalactualizar" class="form-control rounded-0" name="nivelModalactualizar">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer py-1">
                                        <button type="button" class="btn btn-primary" id="cambiarNivelEstudiante" onclick="actualizarNivel()"><i class="fas fa-pencil-alt"></i> Guardar</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-1">
                    <button type="button" class="btn btn-light" data-dismiss="modal" onclick="cambiarClaveModal()">Cambiar Contraseña</button>
                    <button type="button" class="btn btn-danger" id="Guardar-datos-estudiante" onclick="eliminarEstudiante()"><i class="far fa-trash-alt"></i> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
     
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
        <div id="page-content-wrapper">
            <%- include('headerDashboard') %>

            <div class="container-fluid mt-4">
                <div class="card border-0 shadow-primary my-3 rounded-3">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <h2 class="font-weight-bolder">Lista de Estudiantes</h2>
                                <small class="text-muted">En esta seccion se muestra la lista de los
                                    estudiantes que se registraron <br>
                                    y estan aprovados por un <a
                                        href="/admin/administradores">Administrador</a>.</small><br>
                                <small>Información actualizada hace: <span class="text-success"
                                        id="infoTiming-usuarios-estudiantes"></span></small>
                            </div>
                            <div class="col-md-6 row mx-0">
                                <div class="col border-right pl-0">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t1"
                                        id="estudiantes_matriculados_stats">0</h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Cantidad Total de Estudiantes Matriculados">Matriculados &nbsp; <i
                                            class="fas fa-align-center text-info"></i></small>
                                </div>
                                <div class="col border-right">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t2"
                                        id="estudiantes_inactivos_stats">0</h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Cantidad Total de Estudiantes inactivos">Inactivos &nbsp; <i
                                            class="fas fa-align-center text-info"></i></small>
                                </div>
                                <div class="col pr-0">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t3"
                                        id="estudiantes_morosos_stats">0</h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Cantidad Total de Estudiantes Morosos">Morosos &nbsp; <i
                                            class="fas fa-align-center text-info"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white shadow-primary p-3 rounded-3 mt-4 animate__animated animate__fadeIn animate__slow">
                    <div class="row mx-0 d-flex justify-content-between">
                        <div class="col">
                            <div class="mb-1">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <div class="btn bg-light" id="button_search">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control border-0 shadow-none bg-light"
                                        onkeyup="searchonfind()" placeholder="Buscar..."
                                        aria-label="Username" id="barraBuscar">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-end align-items-end ">
                            <div class="w-100">
                                <button type="button" class="btn btn-primary rounded-4 d-block w-100" id="modalButtonAgregarEstudiante"
                                onclick="openModal('#modalAgregarEstudiante')"><i class="fas fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white px-0 py-2 shadow-primary mt-4 rounded-3  animate__animated animate__zoomIn">
                    <div class="row mx-0 mx-auto rounded-3 justify-content-between pt-1">
                        <div class="col-md-3 flex-fill d-flex align-items-baseline">
                            <h4 class="font-weight-bold mb-0 ">Listado</h4>
                        </div>
                        <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-end align-items-baseline ">
                            <h6 class="font-weight-bold">Show</h6>
                            <div class="ml-2 w-100" id="length">
                                <select class="custom-select">
                                    <option selected>All columns</option>
                                    <option value="1">5</option>
                                    <option value="2">10</option>
                                    <option value="3">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col d-flex justify-content-md-end justify-content-center align-items-baseline mt-2 mt-sm-0" style="height:35px;">
                            <div id="pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100 mx-0" style="height: 74vh; overflow-y: auto;">
                        <table class="table custom-table table-responsive-sm table-borderless text-center table-hover"
                         id="table" data-order="[[ 1, &quot;asc&quot; ]]">
                            <thead class="table-light-header">
                                <tr>
                                    <th style="width:50px;" scope="col">&nbsp;</th>
                                    <th class="" scope="col">Nombre</th>
                                    <th class="" scope="col">Cédula</th>
                                    <th class="" scope="col">Nivel</th>
                                    <th class="" scope="col">Estado</th>
                                    <th class="" scope="col">Moroso</th>
                                    <th class="" scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="lista_estudiantes">

                            </tbody>
                        </table>
                        <div class="d-flex align-items-center align-self-end border-info w-100">
                            <small id="info" class="d-flex align-items-end ml-4"></small>
                        </div>
                    </div>
                    <style>
                        .switch-cus {
                            position: relative;
                            display: inline-block;
                            width: 55px;
                            height: 25px;
                            margin-top: 10px !important;
                        }
                        .switch-cus input { 
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }

                        .slider-cus {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #ccc;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }

                        .slider-cus:before {
                            position: absolute;
                            content: "";
                            height: 30px;
                            width: 30px;
                            left: 0px;
                            bottom: -3px;
                            background-color: #4659e4;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }

                        input:checked + .slider-cus {
                            background-color: #93a0ff;
                        }

                        input:focus + .slider-cus {
                            box-shadow: 0 0 1px #93a0ff;
                        }

                        input:checked + .slider-cus:before {
                            -webkit-transform: translateX(26px);
                            -ms-transform: translateX(26px);
                            transform: translateX(26px);
                        }

                        .slider-cus.round-cus {
                            border-radius: 34px;
                        }

                        .slider-cus.round-cus:before {
                            border-radius: 50%;
                        }
                    </style>
                </div>
            </div>
            <%- include('footerDashboard') %>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="../../js/admin/estudiantes.js"></script>
</body>

</html>