<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="google" content="notranslate" />
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" type="text/css" href="/css/dashboard.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
<link rel="stylesheet" href="/css/animate.css">
<script src="/js/jq-bs-bundle.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>