<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dashboard | Matricula</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/animate.css">
    <script src="/js/jq-bs-bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>

<body class="page bg-light d-flex flex-column h-100">
    <div class="modal fade" id="modalVerMatricula" tabindex="-1" aria-labelledby="vermodalmatricula" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header px-3 border-bottom-0 bg-primary text-white">
                <h5 class="modal-title pl-3 font-weight-bold" id="exampleModalLabel">Matrícula</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger alert-dismissible" style="display: none;" role="alert" id="alerta_error_estado">
                        No se pudo cambiar el estado!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <span class="sr-only" id="cedulaTarget"></span>
                    <span class="sr-only" id="idCursoDesmatricular"></span>
                </div>
                <div class="modal-footer py-3 border-0">
                    <button type="button" class="btn btn-primary" onclick="cambiarEstadoMatricula(1)">Activar Matrícula</button>
                    <button type="button" class="btn btn-warning" onclick="cambiarEstadoMatricula(0)">Desactivar Matrícula</button>
                    <button type="button" class="btn btn-danger" onclick="desmatricular()">Desmatricular</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="matricularModal" tabindex="-1" aria-labelledby="matricularModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header px-3 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold" id="matricularModalLabel">Matricular Estudiante</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row mx-0">
                            <div class="col-6 pl-0">
                                <div class="form-group">
                                    <label for="EstudiantesModalMatricular">Seleccione un estudiante</label>
                                    <select class="form-control" name="EstudiantesModalMatricular" id="EstudiantesModalMatricular">
            
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 pr-0">
                                <div class="form-group">
                                    <label for="GrupoModalMatricular">Seleccione el grupo</label>
                                    <select class="form-control" name="GrupoModalMatricular" id="GrupoModalMatricular">
            
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0" style="overflow: hidden">
                            <div class="card mb-3 flex-fill" style="max-width: 100%;" id="tiqueteMatricula">
                                <div class="card-header bg-info text-white">Tiquete de Matrícula</div>
                                <div class="row mx-0 no-gutters">
                                    <div class="col-md-3">
                                        <img src="/img/piscina4.jpg" alt="Hombre nadando en la piscina" width="100%">
                                    </div>
                                    <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">Estudiante</h5>
                                        <p class="card-text texto-matricular">Nivel</p>
                                        <p class="card-text "><small class="text-muted texto-fecha">Fecha</small></p>
                                    </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="matricularCursos()">Matricular Estudiante</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
        <div id="page-content-wrapper">
            <%- include('headerDashboard') %>
            <div class="container-fluid mt-4">
                <div class="card border-0 shadow-primary my-3 rounded-3">
                    <div class="card-body py-4">
                        <div class="row">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <h2 class="font-weight-bolder">Lista de Estudiantes Matriculados</h2>
                                <small class="text-muted">En esta sección se muestra la lista de los
                                    estudiantes que se matricularon en un grupo,<br>
                                    se pueden rechazar en la matrícula.<br>
                                </small>
                                <small>Información actualizada hace: <span class="text-success" id="infoTiming"></span></small>
                            </div>
                            <div class="col-md-6 row mx-0">
                                <div class="col border-right pl-0">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t1"
                                        id="est_activos_stats">0</h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Estudiantes Matriculados">Estudiantes Activos &nbsp; <i
                                            class="fas fa-align-center text-info"></i></small>
                                </div>
                                <div class="col border-right">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t2"
                                        id="est_inactivos_stats">0</h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Estudiantes Inactivos pero no desmatriculados">Estudiantes Inactivos &nbsp; <i
                                            class="fas fa-align-center text-info"></i></small>
                                </div>
                                <div class="col pr-0">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t3"
                                        id="cursos_stats">0</h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Cantidad de cupos disponibles en todos los cursos">Cupos disponibles &nbsp; <i
                                            class="fas fa-align-center text-info"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white shadow-primary p-3 rounded-3 mt-4 animate__animated animate__fadeIn animate__slow">
                    <div class="row mx-0 d-flex justify-content-between">
                        <div class="col">
                            <div class="mb-1">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <div class="btn bg-light" id="button_search">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control border-0 shadow-none bg-light"
                                        onkeyup="searchonfind()" placeholder="Buscar..."
                                        aria-label="Username" id="barraBuscar">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-end align-items-end ">
                            <div class="w-100">
                                <button type="button" class="btn btn-primary rounded-4 d-block w-100" id="modalButtonAgregarEstudiante"
                                onclick="openmodal('#matricularModal')"><i class="fas fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white px-0 py-2 shadow-primary mt-4 rounded-3  animate__animated animate__zoomIn">
                    <div class="row mx-0 mx-auto rounded-3 justify-content-between pt-1">
                        <div class="col-md-3 flex-fill d-flex align-items-baseline">
                            <h4 class="font-weight-bold mb-0 ">Listado</h4>
                        </div>
                        <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-end align-items-baseline ">
                            <h6 class="font-weight-bold">Mostrar</h6>
                            <div class="ml-2 w-100" id="length">
                                <select class="custom-select">
                                    <option selected>All columns</option>
                                    <option value="1">5</option>
                                    <option value="2">10</option>
                                    <option value="3">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col d-flex justify-content-md-end justify-content-center align-items-baseline mt-2 mt-sm-0" style="height:35px;">
                            <div id="pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100 mx-0" style="height: 74vh; overflow-y: auto;">
                        <table class="table custom-table table-responsive-sm table-borderless text-center table-hover"
                         id="table" data-order="[[ 1, &quot;asc&quot; ]]">
                            <thead class="table-light-header">
                                <tr>
                                    <th style="width: 50px;"><strong>#</strong></th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cédula</th>
                                    <th scope="col">Horario</th>
                                    <th scope="col">Nivel</th>
                                    <th scope="col">Profesor</th>
                                    <th scope="col">Fecha de matrícula</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Editar</th>
                                </tr>
                            </thead>
                            <tbody id="lista_estudiantes">

                            </tbody>
                        </table>
                        <div class="d-flex align-items-center align-self-end border-info w-100">
                            <small id="info" class="d-flex align-items-end ml-4"></small>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footerDashboard') %>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="/js/admin/matricula.js"></script>
</body>

</html>