<!-- 
    ! Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dashboard | Reposiciones</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/animate.css">
    <script src="/js/jq-bs-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>
<body class="page bg-light d-flex flex-column h-100">
    <div class="modal fade" id="selecCalendarReposicion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="selecCalendarReposicionLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selecCalendarReposicionLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="calendar"></div>
                    <style>
                        #calendar {
                            width:100%;
                        }
                        .fc-daygrid-event{
                            white-space: normal !important;
                            padding: 5px;
                        }
                    </style>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAdd" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header pl-3 border-0 bg-primary text-white">
                    <h5 class="modal-title ml-3" id="staticBackdropLabel">Solicitar una Reposicion</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalbodyAdd">
                    <div id="modalbodyAddFeedback"></div>
                    <form action="/admin/taller/reposicion/crearReposicion" method="POST" enctype="multipart/form-data" id="agregarRepo">
                        <div class="row mx-auto">
                            <div class="col-lg border-right">
                                <div class="form-group">
                                    <label for="estudiantesAddSelect">Estudiante</label>
                                    <select class="custom-select" id="estudiantesAddSelect" name="id_estudiante" required>
                                        
                                    </select>
                                </div>
                                <p>Asistencias Perdidas</p>
                                <div class="list-group border w-100" 
                                style="height:400px; overflow-y: auto;" 
                                id="ausenciasAgregarReposicion">
                                </div>
                                <%if(typeof newUI != "undefined"){%>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#selecCalendarReposicion">
                                        Launch static backdrop modal
                                    </button>
                                <%}%>
                            </div>
                            <div class="col-lg-6" style="display: none;" id="escogerReposicion">
                                <div class="form-group">
                                    <label for="grupoAddSelect">Grupo de reposicion</label>
                                    <select class="custom-select" id="grupoAddSelect" name="grupo_reposicion" required>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fileFoto">Comprobante</label>
                                    <div class="custom-file">
                                        <input class="custom-file-input"  type="file" id="fileFoto" name="image" required>
                                        <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fechareposicion">Fecha de reposicion</label>
                                    <input class="form-control" type="date" id="fechareposicion" name="fecha_reposicion" required>
                                </div>
                                <div class="form-group">
                                    <label for="observacionTexto">Observacion</label>
                                    <textarea class="form-control" id="observacionTexto" name="observacionTexto" rows="4" required></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" form="agregarRepo" id="agregarReposicionBtn">Agregar Reposicion</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalComprobante" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="titleModalComprobante">Reposicion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="bodyComprobante">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
        <div id="page-content-wrapper">
            <%- include('headerDashboard') %>

            <div class="container-fluid mt-4">
                <div class="card border-0 shadow-primary my-3 rounded-3">
                    <div class="card-body py-3">
                        <div class="row d-flex justify-content-between">
                            <div class="col-md-6 ">
                                <h2 class="font-weight-bolder">Lista de Reposiciones</h2>
                                <small class="text-muted">En esta seccion se muestra la lista de las reposiciones <br>
                                    hechas por los estudiantes.</small><br>
                                <small>Información actualizada hace: <span class="text-success"
                                        id="infoTiming"></span></small>
                            </div>

                            <div class="col">
                                <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate__delay-1s" 
                                id="reposiciones_todas_stats">0</h1>
                                <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                title="Cantidad total de reposiciones">Cantidad Reposiciones &nbsp; <i
                                        class="fas fa-align-center text-info"></i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white shadow-primary p-3 rounded-3 mt-4 animate__animated animate__fadeIn animate__slow">
                    <div class="row mx-0 d-flex justify-content-between">
                        <div class="col">
                            <div class="mb-1">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <div class="btn bg-light" id="button_search">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control border-0 shadow-none bg-light"
                                        onkeyup="searchonfind()" placeholder="Buscar..."
                                        aria-label="Username" id="barraBuscar">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-end align-items-end ">
                            <div class="w-100">
                                <button type="button" class="btn btn-primary rounded-4 d-block w-100" id="modalButtonAgregarEstudiante"
                                onclick="openModal('#modalAdd')"><i class="fas fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white px-0 py-2 shadow-primary mt-4 rounded-3  animate__animated animate__zoomIn">
                    <div class="row mx-0 mx-auto rounded-3 justify-content-between pt-1">
                        <div class="col-md-3 flex-fill d-flex align-items-baseline">
                            <h4 class="font-weight-bold mb-0 ">Listado</h4>
                        </div>
                        <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-end align-items-baseline ">
                            <h6 class="font-weight-bold">Show</h6>
                            <div class="ml-2 w-100" id="length">
                                <select class="custom-select">
                                    <option selected>All columns</option>
                                    <option value="1">5</option>
                                    <option value="2">10</option>
                                    <option value="3">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col d-flex justify-content-md-end justify-content-center align-items-baseline mt-2 mt-sm-0" style="height:35px;">
                            <div id="pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100 mx-0" style="height: 74vh; overflow-y: auto;">
                        <table class="table custom-table table-responsive-sm table-borderless text-center table-hover"
                         id="table" data-order="[[ 0, &quot;asc&quot; ]]">
                            <thead class="table-light-header">
                                <tr>
                                    <th class="">Cedula</th>
                                    <th class="">Nombre</th>
                                    <th class="">Grupo Reposicion</th>
                                    <th class="">Nivel</th>
                                    <th class="">Fecha de Reposicion</th>
                                    <th class="">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="lista_reposiciones">

                            </tbody>
                        </table>
                        <div class="d-flex align-items-center align-self-end border-info w-100">
                            <small id="info" class="d-flex align-items-end ml-4"></small>
                        </div>
                    </div>
                </div>

                <!-- <div class="card border-0">
                    <div class="card-body bg-white px-2 py-2">
                        
                        <div class="row w-100 mx-0" style="height: 74vh; overflow-y: auto;">
                            <table class="table custom-table table-responsive-md w-100" id="reposiciones_TableOrder" data-order="[[ 0, &quot;asc&quot; ]]">
                                <thead>
                                    <tr>
                                        <th class="bg-dark text-white sticky-top" scope="col">Cedula</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Nombre</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Grupo Reposicion</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Nivel</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Fecha de Reposicion</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_reposiciones">

                                </tbody>
                            </table>
                            <div class="d-flex align-items-center align-self-end border-info w-100">
                                <div class="row w-100 ml-0">
                                    <div class="col-md-6 d-flex justify-content-start text-muted pl-0">
                                        <small id="informacionTable" class="d-flex align-items-end"></small>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end"
                                        id="botonesCambiarTable">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <%- include('footerDashboard') %>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="/js/admin/reposiciones.js"></script>
</body>

</html>