<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="en" class="h-100">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard | Reportes - Asistencia</title>
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" href="/css/datatables.min.css">
     <link rel="stylesheet" href="/css/dashboard.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
     <link rel="stylesheet" href="/css/animate.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
     <script src="/js/jq-bs-bundle.js"></script> 
     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
 </head>
 <body class="page bg-light d-flex flex-column h-100">
    <div class="modal" id="modalAgregarEstudiante" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="modalAgregarEstudiante" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header bg-dark">
                <h6 class="modal-title text-white pl-2">Agregar Estudiante</h6>
                <button type="button" class="close" id="closeModalAgregar" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">

            </div>
            <div class="modal-footer py-0 pb-2">
                <button type="button" class="btn btn-primary">
                    Agregar
                </button>
            </div>
            </div>
            <div class="bg-white" style="width: 400px; height: 250px; display: none;"> 
                <!--Aqui es para verificar que sea un administrador-->
            </div>
        </div>        
    </div>
    <div class="d-flex" id="wrapper">
        <%- include('../menuDashboard') %>
        <div id="page-content-wrapper">
             <%- include('../headerDashboard') %>
             <%- include('../filterEstudianteDashboard') %>
             
             <nav aria-label="breadcrumb ">
                 <ol class="breadcrumb ">
                     <li class="breadcrumb-item"><a href="#">Reportes</a></li>
                     <li class="breadcrumb-item"><a href="#">Morisidad</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Reportes de asistencia</li>
                 </ol>
             </nav>
             <div class="container-fluid">
                <div class="card border-0 shadow-sm my-3"> 
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-md-6 ">
                                <h2 class="font-weight-bolder">Reportes de asistencia por grupo</h2>
                                <small class="text-muted">En esta seccion se muestra la lista de asistencia por grupo</small><br>
                                <small>Informacion Actualizada hace: <span class="text-success" id="infoTiming"></span></small>
                            </div>
                            <div class="col border-right">
                                <h1 class="m-0 font-weight-bolder text-primary" id="estudiantes_total_stats">0</h1>
                                <small class="text-muted">Total de Estudiantes &nbsp; <i class="fas fa-align-center text-info"></i></small>
                            </div>
                            <div class="col border-right">
                                <h1 class="m-0 font-weight-bolder text-primary" id="estudiantes_ausentes_stats">0</h1>
                                <small class="text-muted">Estudiantes Ausentes &nbsp; <i class="fas fa-align-center text-info"></i></small>
                            </div>
                            <div class="col" >
                                <h1 class="m-0 font-weight-bolder text-primary" id="estudiantes_media_stats">0 <small>%</small></h1>
                                <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                title="Porcentaje de estudiantes que se prensentaron">Media de Estudiantes &nbsp; <i class="fas fa-align-center text-info"></i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow">
                    <nav>
                        <div class="nav bg-light" id="grupos-tab" role="tablist" style="width:100%; overflow:auto;">

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent" style="height: 700px;">

                    </div>
                    
                </div>
                </div>
             <%- include('../footerDashboard') %>
         </div>
             
         </div>
    </div>
    <script src="/js/assets/datatables.min.js"></script>
    <script src="/js/admin/reporte.asistencia.js"></script>
 </body>
 </html>