<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="en" class="h-100">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard - Reportes - Sistema</title>
     <link rel="stylesheet" href="../../../css/bootstrap.css">
     <link rel="stylesheet" href="../../../css/general.css">
     <link rel="stylesheet" href="../../../css/datatables.min.css">
     <link rel="stylesheet" href="../../../css/dashboard.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
     <link rel="stylesheet" href="../../../css/animate.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
     <script src="../../../js/jq-bs-bundle.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
 </head>
 
 <body class="page bg-light d-flex flex-column h-100">
    <div class="d-flex" id="wrapper">
        <%- include('../menuDashboard') %>
            <div id="page-content-wrapper">
                <%- include('../headerDashboard') %>
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb ">
                        <li class="breadcrumb-item"><a href="#">Reportes</a></li>
                        <li class="breadcrumb-item"><a href="#">Sistema</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Registro de uso</li>
                    </ol>
                </nav>
                <div class="container-fluid ">
                    <div class="card border-0 shadow-sm my-3">
                        <div class="card-body py-2">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <h2 class="font-weight-bolder">Registro de uso del sistema</h2>
                                    <small class="text-muted">En esta seccion se muestra la lista de acciones
                                        realizadas por el personal administrativo</small><br>
                                    <small>Informacion Actualizada hace: <span class="text-success" id="infoTiming"></span></small>
                                </div>
                                <div class="col border-right">
                                    <h1 class="m-0 font-weight-bolder text-primary" id="cantidad_administrativos"></h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Cantidad de funcionarios administativos autorizados para manipular el sistema">Cantidad de administrativos &nbsp; <i class="fas fa-align-center text-info"></i></small>
                                </div>
                                <div class="col">
                                    <h1 class="m-0 font-weight-bolder text-primary" id="cantidad_registros"></h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Cantidad de registros en el sistema">Registros &nbsp; <i class="fas fa-align-center text-info"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 shadow px-2">
                        <div class="card-body px-2 py-2">
                        <div class="row bg-light mx-auto rounded-lg justify-content-between py-1 mb-1">
                            <div class="col-md-6 pl-1 pr-0">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <button class="btn bg-white" type="button" id="button_search"><i class="fas fa-search"></i></button>
                                    </div>
                                    <input type="text" class="form-control border-0 shadow-none bg-white"
                                        onkeyup="searchonfind()" placeholder="Buscar..."
                                        aria-label="Username" id="barraBuscar">
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-around px-0">
                                <div class="row no-gutters px-0 w-100 d-flex justify-content-between">
                                    <div class="col-8 d-flex justify-content-around">
                                        <div id="showlenghtentries" class="d-flex align-items-center m-0"></div>
                                        <div id="filtrarDrop" class="d-flex align-items-center m-0">

                                        </div>
                                    </div>
                                    <div class="col-4 d-flex align-items-center justify-content-end pr-2"style="max-height: 40px">
                                        <a href="/admin/reportes/sistema" name="actualizar_lista" id="actualizar_lista"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Actualizar lista" class="btn bg-white btn-sm"
                                            style="border-radius: 50px;"><i class="fas fa-sync-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100 mx-0" style="height: 75vh; overflow-y: auto;">
                            <table class="table custom-table table-responsive-md table-borderless px-0" id="table_reportes">
                                <thead>
                                    <tr>
                                        <th class="bg-dark text-white sticky-top" scope="col" style="width: 20px;"><i class="fas fa-hashtag"></i></th>
                                        <th class="bg-dark text-white sticky-top" scope="col" style="width: 125px;"><i class="fas fa-user-clock"></i> Administrador</th>
                                        <th class="bg-dark text-white sticky-top" scope="col" style="width: 135px;"><i class="fas fa-bullhorn"></i> Acción realizada</th>
                                        <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-database"></i> Dato</th>
                                        <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-table"></i> Tabla</th>
                                        <th class="bg-dark text-white sticky-top" scope="col" style="width: 150px;"><i class="fas fa-clock"></i> Fecha</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_reportes">

                                </tbody>
                            </table>
                            <div class="d-flex align-items-center align-self-end border-info w-100">
                                <div class="row w-100 ml-0">
                                    <div class="col-md-6 d-flex justify-content-start text-muted pl-0">
                                        <small id="infoTable_reportes" class="d-flex align-items-end"></small>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end" id="botonesTable_reportes"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <%- include('../footerDashboard') %>
            </div>
    </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="../../../js/admin/reporte.sistema.js"></script>
 </body>
</html>