<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="en" class="h-100">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard | Reportes - Uso</title>
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" href="/css/datatables.min.css">
     <link rel="stylesheet" href="/css/dashboard.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
     <link rel="stylesheet" href="/css/animate.css">
     <script src="/js/jq-bs-bundle.js"></script> 
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
 </head>
 <body class="page bg-light d-flex flex-column h-100">
    <div class="modal fade" id="agregarModal" tabindex="-1" data-backdrop="static" data-keyboard="false" 
    aria-labelledby="agregarModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title pl-2">Estudiante</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <div class="container">
                        <div class="form-group">
                            <label for="estudianteModal">Estudiante</label>
                            <select id="estudianteModal" class="form-control" name="estudianteModal">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipoModal">Tipo</label>
                            <select id="tipoModal" class="form-control" name="tipoModal">
                                <option value="Eventualidad">Eventualidad</option>
                                <option value="Inadecuada">Inadecuada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="notamodal">Nota</label>
                            <textarea class="form-control" id="notamodal" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-0 pb-2">
                    <button type="button" class="btn btn-primary" onclick="agregarNota()">Agregar</button>
                </div>
            </div>
        </div>        
    </div>
     <div class="d-flex" id="wrapper">
         <%- include('../menuDashboard') %>
         <div id="page-content-wrapper">
             <%- include('../headerDashboard') %>
             <div class="container-fluid mt-4">
                 <div class="card border-0 shadow-primary my-3 rounded-3"> 
                     <div class="card-body py-4">
                         <div class="row">
                             <div class="col-md-6 ">
                                 <h2 class="font-weight-bolder">Graficos de uso de instalacion</h2>
                                 <small class="text-muted">
                                    En esta seccion se muestran los reportes de uso de instalacion <br>
                                    de la piscina, los graficos muestran los datos de matriculas <br>
                                    realizadas.
                                 </small><br>
                                 <small>Informacion Actualizada hace: <span class="text-success" id="infoTiming"></span></small>
                             </div>
                             <div class="col border-right">
                                 <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t1" id="matriculas_stats">0</h1>
                                 <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                 title="Matriculas que se han realizado">Matriculas &nbsp; <i class="fas fa-align-center text-info"></i></small>
                             </div>
                             <div class="col border-right">
                                 <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t2" id="estudiantes_stats">0</h1>
                                 <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                 title="Estudiantes que se encuentran en el sistema">Estudiantes &nbsp; <i class="fas fa-align-center text-info"></i></small>
                             </div>
                             <div class="col">
                                 <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t3" id="talleres_stats">0</h1>
                                 <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                 title="Talleres que se imparten actualmente en la piscina">Talleres  &nbsp; <i class="fas fa-align-center text-info"></i></small>
                             </div>
                         </div>
                     </div>
                 </div>
                <div class="row mx-0 px-0 my-2 w-100">
                    <div class="col-lg-6 pl-0">
                        <div class="chart-container border-0 shadow-primary mt-2 bg-white rounded-3">
                            <div class="row mx-0 py-3 px-4">
                                <div class="w-100">
                                    <h4 id="data-selected-chart" class="font-weight-bold d-block">Reporte de uso por dia</h4>
                                </div>
                                <small class="text-muted today-date d-block"></small>
                            </div>
                            <div class="row py-2 px-3" style="height:400px;">
                                <canvas id="reportesChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pr-0">
                        <div class="chart-container border-0 shadow-primary mt-2 bg-white rounded-3">
                            <div class="row mx-0 py-3 px-4">
                                <div class="w-100">
                                    <h4 id="data-selected-chart" class="font-weight-bold d-block">Reporte de uso por hora</h4>
                                </div>
                                <small class="text-muted today-date d-block"></small>
                            </div>
                            <div class="row py-2 px-3" style="height:400px;">
                                <canvas id="reportesHoraChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 px-0 my-2 w-100">
                    <div class="col-lg-6 pl-0">
                        <div class="chart-container border-0 shadow-primary mt-2 bg-white rounded-3">
                            <div class="row mx-0 py-3 px-4">
                                <div class="w-100 d-flex justify-content-between">
                                    <div>
                                        <h4 id="data-selected-chart" class="font-weight-bold d-block">Reporte de uso por dia y hora</h4>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <select id="diasReportes" class="form-control form-control-sm" name="diasReportes">
                                                <option value="Lunes">Lunes</option>
                                                <option value="Martes">Martes</option>
                                                <option value="Miercoles">Miercoles</option>
                                                <option value="Jueves">Jueves</option>
                                                <option value="Viernes">Viernes</option>
                                                <option value="Sabado">Sabado</option>
                                                <option value="Domingo">Domingo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted today-date d-block"></small>
                            </div>
                            <div class="row py-2 px-3" style="height:400px;">
                                <canvas id="reportesHoraDiaChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pr-0">
                        <div class="chart-container border-0 shadow-primary mt-2 bg-white rounded-3">
                            <div class="row mx-0 py-3 px-4">
                                <div class="w-100">
                                    <h4 id="data-selected-chart" class="font-weight-bold d-block">Reporte de uso por taller</h4>
                                </div>
                                <small class="text-muted today-date d-block"></small>
                            </div>
                            <div class="row py-2 px-3" style="height:400px;">
                                <canvas id="talleresChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                 
             </div>
             <%- include('../footerDashboard') %>
         </div>
             
         </div>
     </div>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
     <script src="../../../js/admin/reporte.uso.js"></script>
 </body>
 </html>